<!DOCTYPE html>
<html>
    <%= render '/layouts/tenant_nav_bar' %>
    <% if flash[:notice] %>
        <div class="card-panel teal lighten-2 col s3 white-text">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <body>
        <div class = "container">
            <div class = "row">
                <h3>
                    Service Request 
                </h3>
            </div>
            <div class = "row">
                <form class = "col s12" action = "<%services_new_path%>" method = "post">
                    <div class = "row">
                        <div class = "input-field col s6">
                            <input id="services_name" value = "<%= @tenant.name %>" name = "services[name]"type="text" class="validate">
                            <label for="services_name">Requester Name</label>
                        </div>
                        <div class = "input-field col s6">
                            <input id="services_address" value = "<%= @property.address %>"name = "services[address]" type="text" class="validate" required="true">
                            <label for="services_address">Address</label>
                        </div>
                    </div>
                     <div class = "row">
                        <div class = "input-field col s6">
                            <input id="services_subject" name = "services[subject]" type="text" class="validate" maxlength="25" required="true">
                            <label for="services_subject">Subject</label>
                        </div>
                        <div class = "input-field col s6">
                            <input id="services_room" name = "services[room]" type="text" class="validate" maxlength="25" required="true">
                            <label for="services_room">Room</label>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "input-field col s12">
                            <textarea class = "materialize-textarea" id="services_notes" name = "services[notes]" maxlength="140"></textarea>
                            <label for="services_notes">Notes</label>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "input-field col s3">
                            <input name="commit" type="submit" value="Create" class = "waves-effect waves-light btn orange darken-4"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>