<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper orange darken-4">
                <a href="/home" class="brand-logo">Home</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Buttons!</a></li>
                    <li><a href="#">Buttons!</a></li>
                    <li><a href="#">Buttons!</a></li>
                </ul>
            </div>
        </nav>
        <div class= "container">
            <div class = "row">
                <h1>Tenants</h1>
            </div>
        </div>
        <div class = "row">
            <table class = "highlight">
                <thead>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>My Property</th>
                </thead>
                <tbody>
                    <%if @tenant %>
                        <tr>
                            <td><%= @tenant.name%> </td>
                            <td><%= @tenant.phone_number%></td>
                            <td><%= @tenant.email %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class = "row">
                <br/>
                    <%= link_to "Delete", tenants_path(@tenant), :method => :delete %>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
    
</html>
