<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <script>
      $(document).ready(function(){
        $('.slider').slider();
      });
    </script>
    <body>
        <nav>
            <div class="nav-wrapper orange darken-4">
                <a href="/home" class="brand-logo">Home</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/auth/facebook"><i class="material-icons left">person</i>Login with your Facebook account</a></li>
                </ul>
            </div>
        </nav>
        <br/>
        <div class = "container">
          <div class = "row">
            <div class="slider">
              <ul class="slides">
                <li>
                  <img src="https://strategylab.ca/wp-content/uploads/2016/01/Stock-Photos-are-the-worst-1014x487.jpg">
                  <div class="caption left-align">
                    <h3 class "black-text">Work Smarter! </h3>
                    <h5 class="light grey-text text-lighten-3">Let's build your team together.</h5>
                  </div>
                </li>
                <li>
                  <img src="https://ak0.picdn.net/shutterstock/videos/5118950/thumb/1.jpg">
                  <div class="caption right-align">
                    <h3>Don't Stress About Bills!</h3>
                    <h5 class="light grey-text text-lighten-3">Pay on the go.</h5>
                  </div>
                </li>
                <li>
                  <img src="https://lanacordier.files.wordpress.com/2012/05/istock_000005125394medium.jpg">
                  <div class="caption right-align">
                    <h3>Manage Your Properties!</h3>
                    <h5 class="light grey-text text-lighten-3">It's all in your hands.</h5>
                  </div>
                </li>
                <li>
                  <img src="https://ak2.picdn.net/shutterstock/videos/15904222/thumb/4.jpg">
                  <div class="caption center-align">
                    <h3>Get to Know Your Property Manager</h3>
                    <h5 class="light grey-text text-lighten-3">We make it easy.</h5>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>