<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
    <nav>
            <div class="nav-wrapper deep-purple darken-2">
                <a href="/home" class="brand-logo" style = "margin-left:10px;">Abode</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/signin"><i class="material-icons left">person</i>Login</a></li>
                  <li><a href="/create"><i class = "material-icons left">person</i>Sign Up</a></li>
                </ul>
            </div>
        </nav>
        <% if flash[:notice] %>
        <div class="card-panel teal lighten-2 col s3 white-text">
            <%= flash[:notice] %>
        </div>
    <% end %>
        <br/>
        <div class = "container">
          <div class = "row">
                 <div class="caption center top-align orange-text text-darken-4">
                    <h3>Manage Your Properties!</h3>
                    <h5 class="orange-text text-darken-3">It's all in your hands.</h5>
                  </div>
                  
                  <img src="http://dingo.care2.com/pictures/greenliving/uploads/2010/11/house1.jpg" style="width:886 px;height:538px;">
                 
          </div>
          </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>