<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
     <script>
      $(document).ready(function(){
        $('.slider').slider();
      });
    </script>
    <body>
    <nav>
            <div class="nav-wrapper deep-purple darken-2">
                <a href="/home" class="brand-logo" style = "margin-left:10px;">Abode</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/signin"><i class="material-icons left">person</i>Login</a></li>
                  <li><a href="/create"><i class = "material-icons left">person</i>Sign Up</a></li>
                </ul>
            </div>
        </nav>
        <br/>
        <div class = "container">
          <div class = "row">
                 <div class="caption center top-align orange-text text-darken-4">
                    <h3 class="orange-text text-darken-4"> Manage Your Properties!</h3>
                    <h5 class="orange-text text-darken-4"> It's all in your hands.</h5>
                  </div>
                  <div class = "container">
          <div class = "row">
            <div class="slider">
              <ul class="slides">
                <li>
                  <img src="http://eistplus.com/images/Chic-Rich-Houses-with-Pool.jpg">
                  
                </li>
                <li>
                  <img src="http://www.kevinandamanda.com/whatsnew/wp-content/uploads/2012/10/new-house-1.jpg">
                </li>
                
                <li>
                  <img src="http://www.designshuffle.com/blog/files/2012/09/User-13.jpg">
                  
                </li>
                <li>
                  <img src="http://www.glencovemansion.com/getmedia/5a440d27-f456-4cb6-91b6-2a2044c04ed9/slider-bg-1.jpg?width=1402&height=579&ext=.jpg">
                </li>
                
              </ul>
            </div>
          </div>
</div>
                 
                 
          </div>
          </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>