<!DOCTYPE html>
<html> 
<% if flash[:notice] %>
        <div class="card-panel teal lighten-2 col s3">
            <%= flash[:notice] %>
        </div>
    <% end %>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>
      <div class = "row">
        <div class ="col s6 offset-s3">
          <h1>Log in</h1>
        </div>
      </div>
      <div class = row>
        <div >
          <ul id="login-tabs" class="tabs">
            <li class="tab col s6"><a class="active" href="#landlord">Landlord</a></li>
            <li class="tab col s6"><a href="#tenant">Tenant</a></li>
          </ul>
          <div id="landlord" class="col s12">
            <div class="col s6">
              <br/>
              Landlord Login:
              <br/>
                <form method="post" action="/new/manager" class="waves-effect waves-light btn">
                  <input value="Login" type="submit" />
                </form>
            </div>
          </div>
          <div id="tenant" class="col s12">
            <div class="col s6">
              <br/>
                Tenant Login:
              <br/>
                <form method="post" action="/new/tenant" class="waves-effect waves-light btn">
                  <input value="Login" type="submit" />
                 </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>
  