<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper orange darken-4">
                <a href="<%= properties_path %>" class="brand-logo">Home</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Buttons!</a></li>
                    <li><a href="#">Buttons!</a></li>
                    <li><a href="#">Buttons!</a></li>
                </ul>
            </div>
        </nav>
        <div class = "container">
            <div class = "row">
                <h3>
                    Create New Landlord 
                </h3>
            </div>
            <div class = "row">
                <form class = "col s12" action = "<%landlords_path%>" method = "post">
                    <div class = "row">
                        <div class = "input-field col s6">
                            <input id="first_name" name = "landlord[first_name]" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class = "input-field col s6">
                            <input id="last_name" name = "landlord[last_name]" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "input-field col s12">
                            <input id="office_address" name = "landlord[office_address]" type="text" class="validate">
                            <label for="office_address">Address</label>
                        </div>
                        <div class = "input-field col s6">
                            <input id="phone_number" name = "landlord[phone_number]" type="text" class="validate">
                            <label for="phone_number">Phone Number</label>
                        </div>
                        <div class = "input-field col s6">
                            <input id="email" name = "landlord[email]" type="text" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "input-field col s8">
                            <textarea class = "materialize-textarea" id="notes" name = "landlord[notes]"></textarea>
                            <label for="notes">Notes</label>
                        </div>
                    </div>
                    <div class = "input-field col s3">
                        <input name="commit" type="submit" value="Create" />
                    </div>
                </form>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>