    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <a href= "<%= tenants_path %>/show" class="brand-logo" style = "margin-left:10px;">Abode</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <!--makes sure tenant is in a property to make service requests!-->
                    <li><a href="<%= tenants_path %>/show"><i class="material-icons left">person_pin</i>My Profile</a></li>
                    <% if not @tenant.property_id.blank? %> 
                    <li><a href="<%= services_new_path %>"><i class="material-icons left">build</i>Service Request</a></li>
                    <% else %> 
                    <!-- if not in a property, the tenant has the ability to search for properties !-->
                    <li><a href="/search"><i class="material-icons left">search</i>Search</a></li>
                    <% end %>
                    <li><a href="/logout"><i class="material-icons left">power_settings_new</i>Log Out</a></li>
                </ul>
            </div>
        </nav>
    </div>
  </div>
</body>